[submodule "www"]
	path = www
	url = git@github.com:Eliah-Lakhin/Eliah-Lakhin.github.io.git
[submodule "source"]
	path = source
	url = git@github.com:Eliah-Lakhin/Eliah-Lakhin.github.io-sources.git
[submodule "external/papa-carlo.wiki"]
	path = external/papa-carlo.wiki
	url = https://github.com/Eliah-Lakhin/papa-carlo.wiki
[submodule "external/papa-carlo-media"]
	path = external/papa-carlo-media
	url = https://github.com/Eliah-Lakhin/papa-carlo-media
[submodule "external/papa-carlo"]
	path = external/papa-carlo
	url = git@github.com:Eliah-Lakhin/papa-carlo.git
