[submodule "www"]
	path = www
	url = git@github.com:Eliah-Lakhin/Eliah-Lakhin.github.io.git
[submodule "source"]
	path = source
	url = git@github.com:Eliah-Lakhin/Eliah-Lakhin.github.io-sources.git
[submodule "external/papa-carlo.wiki"]
	path = external/papa-carlo.wik
	url = git@github.com:Eliah-Lakhin/papa-carlo.wiki
